<!DOCTYPE html>
<html>
<head>
    #set ($path=$request.contextPath)
    #set ($ctx=$request.scheme + "://" + $request.serverName + ":" + $request.serverPort+ $path)
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${webAppDto.webTitle}</title>
 #*   <link rel="stylesheet" href="$ctx/static/user/css/style.css" rel="stylesheet">*#
    <link rel="stylesheet" href="$ctx/static/user/widget/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="$ctx/static/user/editor/css/editormd.css"/>
    <link rel="stylesheet" href="$ctx/css/style.css" type="text/css" />
    <script src="$ctx/static/user/widget/jquery/jquery.min.js"></script>
    <script src="$ctx/static/user/widget/bootstrap/js/bootstrap.min.js"></script>
    <script src="$ctx/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="$ctx/js/index.js" type="text/javascript"></script>
</head>
<body>
#parse("common/header.vm")
#parse(${mainPage})
#*<div class="container-fluid">
    <div class="row">
        <!--留空-->
        <div class="col-md-1"></div>
            <div class="col-md-10">

            </div>
    </div>

</div>*#
#parse("common/footer.vm")
</body>
</html>