<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dj.dao.FileDao">


    <resultMap id="result" type="com.dj.model.TextFile">
        <id column="id" property="id"/>
        <id column="name" property="name"/>
        <id column="path" property="path"/>
        <id column="type" property="type"/>
        <id column="remark" property="remark"/>
        <id column="createDate" property="createDate"/>
        <id column="modifyDate" property="modifyDate"/>
    </resultMap>

    <insert id="save" parameterType="com.dj.model.TextFile">
        INSERT INTO t_textfile VALUES (null, #{name}, #{path}, #{type}, #{remark}, #{createDate}, #{modifyDate})
    </insert>

    <select id="countPage" resultType="java.lang.Integer" parameterType="com.dj.model.TextFile">
        select count(1) from t_textfile
    </select>

    <select id="pagerAtion" resultMap="result">
       select id,name,path,type,remark,createDate,modifyDate from t_textfile ORDER by createDate DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getTextFile" resultMap="result">
    select id,name,path,type,remark,createDate,modifyDate from t_textfile  where id=#{id}
  </select>

    <select id="getOneFileByType" resultMap="result" parameterType="com.dj.model.TextFile">
      select * from t_textfile where type=#{type} and id in (select max(id) from t_textfile where type=#{type})
    </select>


</mapper>